[submodule "hc-house-admin"]
	path = hc-house-admin
	url = https://github.com/haochtech/hc-house-admin.git
[submodule "hc-house-wx"]
	path = hc-house-wx
	url = https://github.com/haochtech/hc-house-wx.git
